@font-face {
    font-family: "Comic Neue";
    src: url("fonts/Comic_Neue/ComicNeue-Light.ttf") format("truetype");
    font-weight: 100;
}


@font-face {
    font-family: "Comic Neue";
    src: url("fonts/Comic_Neue/ComicNeue-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Comic Neue";
    src: url("fonts/Comic_Neue/ComicNeue-Bold.ttf") format("truetype");
    font-weight: 700;
}