body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background: linear-gradient(to bottom, #333, #000)
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    /*Ancho máximo, no crecera más de 500px*/
    margin: auto;
    box-shadow: 0 0 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 50px;
}

label {
    font-size: 0.88em;
    line-height: 2;
}

.form_input {
    padding: 6px 20px;
}

input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0 0 15px #0003;
    background-color: transparent;
    color: #eee;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
    max-height: 200px;
    font-family: sans-serif;
}

.checkbox {
    width: auto;
    height: 12px;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 8px 6px 20px 6px;
    margin: 20px;
}

legend {
    padding: 0 6px;
    color: #777;
}

a {
    color: #69f;
    text-decoration: none;
}