.formulario {
    background-color: green;
    padding: 30px; /*Si se escribe un solo valor, este valor afecta las 4 direcciones, si se escriben 4, le estamos dando un valor en este orden: arriba, derecha, abajo, izquierda, en el sentido de las agujas del reloj, tambien podemos darle 2 valores, el padding vertical, y el padding horizontal, primero el vertical y luego el horizontal, el padding afecta el espacio que ocupara la caja, pero no afecta el tamaño del contenido*/
}

.formulario_input {
    padding: 9px 12px;
    width: 90%;
    background-color: black;
    color: green;
    margin: 10px;
}

.formulario_submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: green;
    color: white;
    width: 50%;
}

.box {
    background-color: green;
    padding: 50px;
    height: 150px;
    width: 150px;
    margin: 10px; /*Separación entre elementos, los margenes se superponen y no se suman, se tomal el de mayor valor*/
}