body {
    font-family: sans-serif;
}

th, td {
    text-align: center;
    padding: 6px;
    border: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    color: #444;
}

table {
    width: 95%;
    border-spacing: 0;
    margin: auto;
    box-shadow: 0 0 25px #0002;
    font-size: 1em;
    margin-top: 30px;
}