body {
    margin: 0;
}


.box-default {
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 20px;
    border: 5px solid black;
}

.box-new {
    box-sizing: border-box;
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 20px;
    border: 5px solid black;
}