body {
    margin: 0;
}

.box {
    width: 280px;
    background-color: #e2e2e2;
    margin: auto;
    margin-top: 30px;
    /*Horizontal vertical desenfoque extensión color*/
    box-shadow: 0 0 40px 0 #0007;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    text-align: center;
}

h2 {
    text-shadow: 0 0 10px #f88;
    font-size: 20px;
}
p {
    list-style: none;
    text-align: justify;
    line-height: 1.4;
    font-size: 13px;
    /*Horizontal vertical desenfoque no tiene expansión y el color*/
    text-shadow: 0 0 5px #f88;
}

img {
    width: 160px;
    border-radius: 100%;
    margin: auto;
}