.box {
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 20px;
}

.box-rgb {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    margin: 20px;
}

.box-hexadecimal {
    height: 100px;
    width: 100px;
    background-color: #0c08;
    margin: 20px;
}

.box-hsl {
    height: 100px;
    width: 100px;
    background-color: hsl(247, 56%, 57%);
    margin: 20px;
}